h5 {
    height: 40px;
    width: 100%;
    padding: 5px;
    cursor: pointer;
}

.active {
    background-color: rgb(65, 68, 95) !important;
    color: white !important;
}
.inactive {
    background-color: none !important;
    color: #cfcdcd !important;
}
.channelcomponent {
    cursor: pointer;
}
.channelcomponent:hover {
    background-color: rgb(33, 35, 51);
}
